
.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.db
instance/
migrations/__pycache__/

.venv/
venv/
env/
Pipfile.lock

node_modules/
build/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
.pytest_cache/
.coverage